<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .title {text-align: center}
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href='/'>Home</a>
            <a href='/login'>Log In</a>           
            <a href='/blog'>Main Blog Page</a>
            <a href='/newpost'>Add a Blog Entry</a>
            <a href='/logout'>Log Out</a>
           
        </nav>


        {% block content %}
        {% endblock %}

    </body>
</html>