{% extends "base.html" %}

{% block content %}
<h1>Add a Blog Entry</h1>

<form action="/newpost" method="post">
    <label for="title">Title for your new blog:</label></td>
    <br>
    <input type="text" id="title" name="title" value="{{ title }}" placeholder="Add a Title">
    <br>
    <br>
    <label for="body">Your new blog:</label></td>
    <br>
    <textarea id="body" name="body" rows="15" cols="100" placeholder="Add an Entry.">{{ body }}</textarea>
    <!-- <input type=textarea id="body" name="body" value="{{ body }}" rows="15" cols="100" placeholder="Add an Entry."></textarea> -->
    <!-- the above line returns the body, but the box is too small-->
    <br>
    <br>
    <input type="submit" value="Add Entry">
</form>


    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

{% endblock %}